USE [SkyNet01]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archivos_solicitudes]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos_solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[fk_solicitud] [bigint] NOT NULL,
	[public_id] [nvarchar](512) NOT NULL,
	[created_at_utc] [datetime2](7) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Archivos_solicitudes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[DPI] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Cargo] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos_Supervisores_Tec]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos_Supervisores_Tec](
	[IDGRUPO] [int] IDENTITY(1,1) NOT NULL,
	[FKSUPERVISOR] [bigint] NOT NULL,
	[FKTECNICO] [bigint] NOT NULL,
	[FECHA_CREACION_UTC] [datetime2](7) NOT NULL,
	[ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_Grupos_Supervisores_Tec] PRIMARY KEY CLUSTERED 
(
	[IDGRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](160) NOT NULL,
	[Telefono] [nvarchar](30) NULL,
	[Tipo] [nvarchar](60) NOT NULL,
	[Prioridad] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](1500) NOT NULL,
	[Ticket] [nvarchar](40) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[Direccion] [nvarchar](300) NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
 CONSTRAINT [PK_Solicitudes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes_Asignaciones]    Script Date: 05/10/2025 01:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes_Asignaciones](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FKSOLICITUD] [bigint] NOT NULL,
	[IDGRUPO] [int] NOT NULL,
	[FKTECNICO] [bigint] NOT NULL,
	[FECHA_ASIGNACION_UTC] [datetime2](7) NOT NULL,
	[FECHA_INICIO] [datetime2](7) NULL,
	[FECHA_FIN] [datetime2](7) NULL,
	[NOTAS] [nvarchar](500) NULL,
	[ESTADO] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones] ADD  DEFAULT (sysutcdatetime()) FOR [FECHA_ASIGNACION_UTC]
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[Archivos_solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Archivos_solicitudes_Solicitudes_fk_solicitud] FOREIGN KEY([fk_solicitud])
REFERENCES [dbo].[Solicitudes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Archivos_solicitudes] CHECK CONSTRAINT [FK_Archivos_solicitudes_Solicitudes_fk_solicitud]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Grupos_Supervisores_Tec]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_SUPERVISOR] FOREIGN KEY([FKSUPERVISOR])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Grupos_Supervisores_Tec] CHECK CONSTRAINT [FK_GRUPO_SUPERVISOR]
GO
ALTER TABLE [dbo].[Grupos_Supervisores_Tec]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_TECNICO] FOREIGN KEY([FKTECNICO])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Grupos_Supervisores_Tec] CHECK CONSTRAINT [FK_GRUPO_TECNICO]
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_SolAsig_Grupo] FOREIGN KEY([IDGRUPO])
REFERENCES [dbo].[Grupos_Supervisores_Tec] ([IDGRUPO])
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones] CHECK CONSTRAINT [FK_SolAsig_Grupo]
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_SolAsig_Solicitud] FOREIGN KEY([FKSOLICITUD])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones] CHECK CONSTRAINT [FK_SolAsig_Solicitud]
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_SolAsig_Tecnico] FOREIGN KEY([FKTECNICO])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes_Asignaciones] CHECK CONSTRAINT [FK_SolAsig_Tecnico]
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_CambiarEstado]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Solicitudes_CambiarEstado]
  @SolicitudId BIGINT,
  @NuevoEstado INT   -- 0..5
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    -- Verifica que exista la solicitud (si no existe: error claro)
    IF NOT EXISTS (
      SELECT 1 FROM dbo.Solicitudes WITH (UPDLOCK, HOLDLOCK)
      WHERE Id = @SolicitudId
    )
    BEGIN
      THROW 50001, 'La solicitud no existe.', 1;
    END

    -- Siempre actualiza la solicitud
    UPDATE dbo.Solicitudes
      SET Estado = @NuevoEstado
    WHERE Id = @SolicitudId;

    /* Actualiza también las asignaciones SI existen (no falla si no hay ninguna).
       Política sugerida:
       - Poner ESTADO = @NuevoEstado
       - Si el estado nuevo es RECHAZADO(0) o FINALIZADO(5) → sellar FECHA_FIN si está NULL
    */
    UPDATE sa
       SET sa.ESTADO    = @NuevoEstado,
           sa.FECHA_FIN = CASE
                            WHEN @NuevoEstado IN (0,5) AND sa.FECHA_FIN IS NULL
                              THEN SYSUTCDATETIME()
                            ELSE sa.FECHA_FIN
                          END
    FROM dbo.Solicitudes_Asignaciones AS sa
    WHERE sa.FKSOLICITUD = @SolicitudId;

    COMMIT;

    -- (Opcional) devolver el estado final
    SELECT Id, Estado
    FROM dbo.Solicitudes
    WHERE Id = @SolicitudId;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
    THROW 50002, @msg, 1;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Solicitud_Resumen]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Solicitud_Resumen]
    @ID_SOLICITUD BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH BASE AS (
        SELECT
            A.ID,
            A.FKSOLICITUD          AS IDSOLICITUD,
            A.IDGRUPO              AS IDGRUPO,
            A.FKTECNICO            AS FKTECNICO,
            A.FECHA_ASIGNACION_UTC AS FECHAASIGNACIONUTC,
            A.FECHA_INICIO,
            A.FECHA_FIN,
            A.NOTAS,
            A.ESTADO,
            (TEC.NOMBRES + ' ' + TEC.APELLIDOS) AS TECNICONOMBRE,
            (SUP.NOMBRES + ' ' + SUP.APELLIDOS) AS SUPERVISORNOMBRE,
            CONCAT('GRUPO #', G.IDGRUPO)        AS GRUPOETIQUETA
        FROM DBO.SOLICITUDES_ASIGNACIONES A
        LEFT JOIN DBO.EMPLEADOS TEC
               ON TEC.ID = A.FKTECNICO
        LEFT JOIN DBO.GRUPOS_SUPERVISORES_TEC G
               ON G.IDGRUPO = A.IDGRUPO AND G.FKTECNICO = A.FKTECNICO
        LEFT JOIN DBO.EMPLEADOS SUP
               ON SUP.ID = G.FKSUPERVISOR
        WHERE A.FKSOLICITUD = @ID_SOLICITUD
    )
    SELECT
        @ID_SOLICITUD AS IDSOLICITUD,
        MIN(B.FECHA_INICIO) AS FECHAVISITA_MIN,
        CASE 
            WHEN EXISTS(SELECT 1 FROM BASE WHERE ESTADO = 4) THEN 4
            WHEN EXISTS(SELECT 1 FROM BASE WHERE ESTADO = 3) THEN 3
            WHEN EXISTS(SELECT 1 FROM BASE WHERE ESTADO = 1) THEN 1
            WHEN EXISTS(SELECT 1 FROM BASE WHERE ESTADO = 2) THEN 2
            WHEN EXISTS(SELECT 1 FROM BASE WHERE ESTADO = 0) THEN 0
            ELSE 0
        END AS ESTADO_AGREGADO,
        (
            SELECT STRING_AGG(SUPERVISORNOMBRE, ', ')
            FROM (SELECT DISTINCT SUPERVISORNOMBRE FROM BASE WHERE SUPERVISORNOMBRE IS NOT NULL) S
        ) AS SUPERVISORES,
        (
            SELECT STRING_AGG(TECNICONOMBRE, ', ')
            FROM (SELECT DISTINCT TECNICONOMBRE FROM BASE WHERE TECNICONOMBRE IS NOT NULL) T
        ) AS TECNICOS,
        (
            SELECT
                B.ID,
                B.IDGRUPO,
                B.GRUPOETIQUETA,
                B.FKTECNICO,
                B.TECNICONOMBRE,
                B.SUPERVISORNOMBRE,
                B.FECHAASIGNACIONUTC,
                B.FECHA_INICIO,
                B.FECHA_FIN,
                B.ESTADO,
                B.NOTAS
            FROM BASE B
            FOR JSON PATH
        ) AS ASIGNACIONES_JSON
    FROM BASE B;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SolicitudDetalle_Tecnico]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SolicitudDetalle_Tecnico]
    @ID_SOLICITUD  BIGINT,
    @AspNetUserId  NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdTecnico BIGINT;

    SELECT TOP (1) @IdTecnico = E.Id
    FROM dbo.Empleados E
    WHERE E.UserId = @AspNetUserId;

    IF @IdTecnico IS NULL
    BEGIN
        SELECT CAST(NULL AS BIGINT) AS Id WHERE 1=0;
        RETURN;
    END

    ;WITH Asig AS (
        SELECT TOP (1)
            A.Id                   AS AsignacionId,
            A.FKSOLICITUD          AS FkSolicitud,
            A.IDGRUPO              AS IdGrupo,
            A.FKTECNICO            AS FkTecnico,
            A.FECHA_ASIGNACION_UTC AS AsignacionCreadaUtc,
            A.FECHA_INICIO         AS AsignacionFechaInicio,
            A.FECHA_FIN            AS AsignacionFechaFin,
            A.NOTAS                AS AsignacionNotas,
            A.ESTADO               AS EstadoAsignacion   -- tinyint
        FROM dbo.Solicitudes_Asignaciones A
        WHERE A.FKSOLICITUD = @ID_SOLICITUD
          AND A.FKTECNICO   = @IdTecnico
          AND A.ESTADO IN (3,4,5)
        ORDER BY A.FECHA_INICIO DESC
    )
    SELECT
        -- Solicitud
        S.Id                   AS Id,
        S.Id                   AS IdSolicitud,          -- compat con front
        S.Nombre,
        S.Email,
        S.Telefono,
        S.Tipo,
        S.Prioridad,
        S.Descripcion,
        S.Ticket,
        S.CreatedAtUtc,
        S.Estado               AS EstadoSolicitud,      -- int
        S.Direccion,
        S.Latitud,
        S.Longitud,

        -- Asignación (casteos para evitar InvalidCast)
        A.AsignacionId,
        CAST(A.EstadoAsignacion AS INT) AS EstadoAsignacion,  -- tinyint -> int
        A.AsignacionCreadaUtc,
        A.AsignacionFechaInicio,
        A.AsignacionFechaFin,
        A.AsignacionNotas,
        CAST(A.IdGrupo AS BIGINT)       AS IdGrupo,           -- int -> bigint (si tu DTO usa long)
        A.FkTecnico,

        -- Aliases que espera el front/DTO
        A.AsignacionFechaInicio         AS Fecha_Inicio,
        A.AsignacionFechaFin            AS Fecha_Fin,
        A.AsignacionNotas               AS Notas,
        CAST(A.EstadoAsignacion AS INT) AS Estado,            -- tinyint -> int

        CONCAT('Grupo #', G.IDGRUPO)    AS GrupoEtiqueta,
        (TEC.Nombres + ' ' + TEC.Apellidos) AS TecnicoNombre,
        (SUP.Nombres + ' ' + SUP.Apellidos) AS SupervisorNombre
    FROM Asig A
    INNER JOIN dbo.Solicitudes S
        ON S.Id = A.FkSolicitud
    LEFT JOIN dbo.Empleados TEC
        ON TEC.Id = A.FkTecnico
    LEFT JOIN dbo.Grupos_Supervisores_Tec G
        ON G.IDGRUPO = A.IdGrupo AND G.FKTECNICO = A.FkTecnico
    LEFT JOIN dbo.Empleados SUP
        ON SUP.Id = G.FKSUPERVISOR;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SolicitudesAsignaciones_PorSolicitud]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SolicitudesAsignaciones_PorSolicitud]
    @ID_SOLICITUD BIGINT,
    @AspNetUserId NVARCHAR(450) = NULL  -- opcional
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdTecnico BIGINT = NULL;

    -- Si viene userId, intentamos mapearlo a técnico
    IF @AspNetUserId IS NOT NULL
    BEGIN
        SELECT TOP (1) @IdTecnico = E.Id
        FROM dbo.Empleados E
        WHERE E.UserId = @AspNetUserId;
        -- si no lo encuentra, @IdTecnico queda NULL y NO filtramos por técnico
    END

    SELECT
        A.ID,
        A.FKSOLICITUD          AS IDSOLICITUD,
        A.IDGRUPO              AS IDGRUPO,
        A.FKTECNICO            AS FKTECNICO,
        A.FECHA_ASIGNACION_UTC AS FECHAASIGNACIONUTC,
        A.FECHA_INICIO,
        A.FECHA_FIN,
        A.NOTAS                AS NOTAS,
        A.ESTADO               AS ESTADO,
        (TEC.NOMBRES + ' ' + TEC.APELLIDOS) AS TECNICONOMBRE,
        (SUP.NOMBRES + ' ' + SUP.APELLIDOS) AS SUPERVISORNOMBRE,
        CONCAT('GRUPO #', G.IDGRUPO)        AS GRUPOETIQUETA
    FROM DBO.SOLICITUDES_ASIGNACIONES A
    LEFT JOIN DBO.EMPLEADOS TEC ON TEC.ID = A.FKTECNICO
    LEFT JOIN DBO.GRUPOS_SUPERVISORES_TEC G 
           ON G.IDGRUPO = A.IDGRUPO AND G.FKTECNICO = A.FKTECNICO
    LEFT JOIN DBO.EMPLEADOS SUP ON SUP.ID = G.FKSUPERVISOR
    WHERE A.FKSOLICITUD = @ID_SOLICITUD
      AND A.ESTADO IN (3,4,5)               -- incluye finalizadas si quieres
      AND (@IdTecnico IS NULL OR A.FKTECNICO = @IdTecnico)  -- 👈 filtro condicional
    ORDER BY A.FECHA_INICIO ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SolicitudesAsignaciones_PorSupervisor]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SolicitudesAsignaciones_PorSupervisor]
    @IdSupervisor INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.Id,
        a.FKSOLICITUD      AS IdSolicitud,
        a.IDGRUPO          AS IdGrupo,
        a.FKTECNICO        AS FkTecnico,
        a.FECHA_ASIGNACION_UTC AS FechaAsignacionUtc,
        a.Fecha_Inicio,
        a.Fecha_Fin,
        a.NOTAS            AS Notas,
        a.ESTADO           AS Estado,

        -- enriquecidos
        (tec.Nombres + ' ' + tec.Apellidos) AS TecnicoNombre,
        (sup.Nombres + ' ' + sup.Apellidos) AS SupervisorNombre,
        CONCAT('Grupo #', g.IDGRUPO)        AS GrupoEtiqueta
    FROM dbo.Solicitudes_Asignaciones a
    LEFT JOIN dbo.Empleados tec
           ON tec.Id = a.FKTECNICO
    LEFT JOIN dbo.Grupos_Supervisores_Tec g
           ON g.IDGRUPO = a.IDGRUPO AND g.FKTECNICO = a.FKTECNICO
    LEFT JOIN dbo.Empleados sup
           ON sup.Id = g.FKSUPERVISOR
    WHERE a.ESTADO IN (3,4)
      AND g.FKSUPERVISOR = @IdSupervisor   -- 👈 filtro por supervisor
    ORDER BY a.FECHA_INICIO ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SolicitudesAsignaciones_Supervisor]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_SolicitudesAsignaciones_Supervisor]
    @AspNetUserId NVARCHAR(450)   -- Id de AspNetUsers
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdSupervisor BIGINT;

    -- Buscar el empleado (supervisor) a partir del AspNetUserId
    SELECT TOP (1) @IdSupervisor = e.Id
    FROM dbo.Empleados e
    WHERE e.UserId = @AspNetUserId;

    -- Si no existe, retorna vacío
    IF @IdSupervisor IS NULL
    BEGIN
        SELECT CAST(NULL AS BIGINT) AS Id WHERE 1=0;
        RETURN;
    END

    -- Solo asignaciones de los grupos de ese supervisor
    SELECT
        a.Id,
        a.FKSOLICITUD            AS IdSolicitud,
        a.IDGRUPO                AS IdGrupo,
        a.FKTECNICO              AS FkTecnico,
        a.FECHA_ASIGNACION_UTC   AS FechaAsignacionUtc,
        a.Fecha_Inicio,
        a.Fecha_Fin,
        a.NOTAS                  AS Notas,
        a.ESTADO                 AS Estado,
        (tec.Nombres + ' ' + tec.Apellidos) AS TecnicoNombre,
        (sup.Nombres + ' ' + sup.Apellidos) AS SupervisorNombre,
        CONCAT('Grupo #', g.IDGRUPO)        AS GrupoEtiqueta
    FROM dbo.Solicitudes_Asignaciones a
    LEFT JOIN dbo.Empleados tec ON tec.Id = a.FKTECNICO
    LEFT JOIN dbo.Grupos_Supervisores_Tec g 
           ON g.IDGRUPO = a.IDGRUPO AND g.FKTECNICO = a.FKTECNICO
    LEFT JOIN dbo.Empleados sup ON sup.Id = g.FKSUPERVISOR
    WHERE a.ESTADO IN (3,4,5)
      AND g.FKSUPERVISOR = @IdSupervisor
    ORDER BY a.FECHA_INICIO ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SolicitudesAsignaciones_Tecnico]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SolicitudesAsignaciones_Tecnico]
    @AspNetUserId NVARCHAR(450)   -- Id de AspNetUsers
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdTecnico BIGINT;

    -- 1) Mapear AspNetUserId -> Empleados.Id
    SELECT TOP (1)
           @IdTecnico = E.Id
    FROM dbo.Empleados E
    WHERE E.UserId = @AspNetUserId;

    -- 2) Si no existe, retornar vacío
    IF @IdTecnico IS NULL
    BEGIN
        SELECT CAST(NULL AS BIGINT) AS Id WHERE 1 = 0;
        RETURN;
    END

    -- 3) Listar asignaciones del técnico con la información necesaria
    SELECT
        A.Id                         AS Id,
        A.FKSOLICITUD                AS IdSolicitud,
        A.IDGRUPO                    AS IdGrupo,
        A.FKTECNICO                  AS FkTecnico,
        A.FECHA_ASIGNACION_UTC       AS FechaAsignacionUtc,
        A.Fecha_Inicio               AS Fecha_Inicio,
        A.Fecha_Fin                  AS Fecha_Fin,
        A.NOTAS                      AS Notas,
        A.ESTADO                     AS Estado,
        (TEC.Nombres + ' ' + TEC.Apellidos) AS TecnicoNombre,
        (SUP.Nombres + ' ' + SUP.Apellidos) AS SupervisorNombre,
        CONCAT('Grupo #', G.IDGRUPO) AS GrupoEtiqueta
    FROM dbo.Solicitudes_Asignaciones A
    LEFT JOIN dbo.Empleados TEC
           ON TEC.Id = A.FKTECNICO
    LEFT JOIN dbo.Grupos_Supervisores_Tec G
           ON G.IDGRUPO = A.IDGRUPO AND G.FKTECNICO = A.FKTECNICO
    LEFT JOIN dbo.Empleados SUP
           ON SUP.Id = G.FKSUPERVISOR
    WHERE A.FKTECNICO = @IdTecnico
      AND A.ESTADO IN (3,4,5)   -- 3 = Aceptada, 4 = En proceso, 5 = Finalizada
    ORDER BY A.Fecha_Inicio ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SolicitudesAsignaciones_Todas]    Script Date: 05/10/2025 01:30:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_SolicitudesAsignaciones_Todas]
AS
BEGIN
    SET NOCOUNT ON;

     SELECT
        a.Id,
        a.FKSOLICITUD      AS IdSolicitud,
        a.IDGRUPO          AS IdGrupo,
        a.FKTECNICO        AS FkTecnico,
        a.FECHA_ASIGNACION_UTC AS FechaAsignacionUtc,
        a.Fecha_Inicio,
        a.Fecha_Fin,
        a.NOTAS            AS Notas,
        a.ESTADO           AS Estado,

        -- enriquecidos
        (tec.Nombres + ' ' + tec.Apellidos) AS TecnicoNombre,
        (sup.Nombres + ' ' + sup.Apellidos) AS SupervisorNombre,
        CONCAT('Grupo #', g.IDGRUPO)        AS GrupoEtiqueta
    FROM dbo.Solicitudes_Asignaciones a
    LEFT JOIN dbo.Empleados tec
           ON tec.Id = a.FKTECNICO
    LEFT JOIN dbo.Grupos_Supervisores_Tec g
           ON g.IDGRUPO = a.IDGRUPO AND g.FKTECNICO = a.FKTECNICO
    LEFT JOIN dbo.Empleados sup
           ON sup.Id = g.FKSUPERVISOR
    WHERE a.ESTADO IN (3,4,5)
    ORDER BY a.FECHA_INICIO ASC;
END
GO
