@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height:75vh;">
    <!-- Logo centrado más grande -->
    <img src="~/img/logo1.png" alt="Logo Yeishop" style="max-width:600px; margin-bottom:35px;" />

    <!-- Texto de bienvenida -->
    <h1 class="fw-bold" style="font-family: 'Sugar Bread', cursive; font-size:3rem; color:#1c31a5;">
        ¡Bienvenido a SkyNet!
    </h1>

    <p class="text-muted mt-3 fs-5">
        Gestiona tus solicitudes aqui!! 🚀
    </p>
</div>
